body {
    font-family: sans-serif;
    color: #333;
    height: auto;
}

.main {
    max-width: 50%;
    margin: auto;
    margin-top: 5em;
}

h1{
  text-align: center;
}

#chatters {
    width: 150px;
    margin: 0 1em 0 0;
    float: left;
    list-style: none;
}

#chatters, #chat-console {
    height: 300px;
    overflow: auto;
    padding: 1%;
}

#chat-console{
  margin: auto !important;
}

#chat-console, #chatters{
    border: 1px solid #ccc;
}

#chat-console, #chat-form {
    margin-right: 7%;
}

#chat-form {
    margin-top: 1em;
    text-align: right;
    clear: both;
}

#chat-form input[type=text] {
    width: 100%;
    font-size: 110%;
    padding: 1%;
}

.connected {
    color: #21BA45;
}

.alert{
  text-align: center;
  margin-bottom: 1em;
}

.disconnected {
    color: #8b0000;
}

#chat-submit{
  width: auto !important;
}

i.icon.user{
  font-size: 2.5em;
  display: block;
}

.red{
  color: #DB2828;
}

.orage{
  color: #F2711C;
}

.blue{
  color: #2185D0;
}

.green{
  color: #21BA45;
}
