body {
    font-family: sans-serif;
    color: #333;
    height: auto;
/*	background-color: #95afc9!important;*/
}

.main {
    max-width: 90%;
    margin: auto;
    margin-top: 5em;
}

h2.ui.header {
    margin-top: 0;
    text-align: center;
}

table{
	font-size: 0.8em !important;
}
table td{
	text-align: center !important;
}

table td.collapsing{
	font-weight: bold;
	font-size: 0.9em !important;
}

.export-button{
  float: right;
}
