body {
    font-family: sans-serif;
    color: #333;
    height: auto;
    /*background-color:  #E0E0E0!important;*/
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

.main {
    max-width: 90%;
    margin: auto;
    margin-top: 5em;
}

h2.ui.header {
    margin-top: 0;
    text-align: center;
}

table{
	font-size: 0.8em !important;
}
table td{
	text-align: center !important;
}

table td.collapsing{
	font-weight: bold;
}

td{
  font-size: 0.9em !important;
}

.export-button{
  float: right;
}

.segment.statistic {
    margin: 0 !important;
    width: 24%;
    font-size: 0.9em !important;
}

.drop{
  position: absolute;
}

.ui.top.attached.segment {
    background: #F9FAFB;
}

.load-box-init{
    width: 35%;
    margin: auto !important;
    margin-top: 12% !important;
}

.load-box-final{

}

.load-button-init{
  margin-top: 1em !important;
  width: 100%;
}

.load-button-final{


}

/**

*/

article
{
    width: 80%;
    margin:auto;
    margin-top:10px;
}


.area
{
    border: 5px dotted #ccc;
    padding: 50px;
    text-align: center;
}

.drag
{
    border: 5px dotted green;
    background-color: yellow;
}

#result ul{
    list-style: none;
    margin-top:20px;
}

#result ul li
{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


/**
  LOADER
*/

.loader {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.loader .text{
  text-align: center;
  color: white;
  padding-top: 5em;
  font-weight: bold;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
